* { margin:0; padding:0; } /* to remove the top and left whitespace */

body {
	overflow: hidden; 
	background-image: url("./images/background_images.jpg");
    width:100%; 
    height:100%; 
   } /* just to be sure these are full screen*/

.verticalbelow {
    width:100%; 
    height:33%; 
    border-style:solid;
    border-color: red; 
    margin:0px;
}
#computer_container, #player_container, #game_container {
	height:200px;
}


